[project]
	description = This repo is to test for LEGO EV3 code 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hcrambabu
[access "refs/for/refs/*"]
	read = group user/hcrambabu
	push = group user/hcrambabu
	label-Code-Review = -2..+2 group user/hcrambabu
	label-Verified = -1..+1 group user/hcrambabu
	rebase = group user/hcrambabu
	removeReviewer = group user/hcrambabu
	submit = group user/hcrambabu
[access "refs/heads/*"]
	read = group user/hcrambabu
	create = group user/hcrambabu
	push = +force group user/hcrambabu
	pushMerge = group user/hcrambabu
[access "refs/tags/*"]
	push = +force group user/hcrambabu
	pushTag = group user/hcrambabu
	pushSignedTag = group user/hcrambabu
